.appContainer {
    width: 75vw;
    height: 75vh;
    margin: auto;
}

.topBarContainer {
    margin-top: 25px;
    text-align: center;
    background-color: rgba(154, 153, 184, 0.75);
    border: 2px solid#000000;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px #000000;
}

.white {
    color: white;
}

.tableContainer {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: rgba(59, 59, 80, 0.75);
    border: 2px solid#000000;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px #000000;
    width: 30vw;
}

.employeeContainer {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: rgba(59, 59, 80, 0.75);
    border: 2px solid#000000;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px #000000;
    width: 30vw;
}
.createContainer {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgba(59, 59, 80, 0.75);
    border: 2px solid#000000;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px #000000;
    width: 30vw;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
